#sidebar_postarchive,#under_post_news,#ad-t2{
display:none;
}
#main{
width:85% !important;
}
#mainContent{
width:100%;
}
h2{
animation: float 5s ease-out infinite alternate;
-moz-animation: float 5s ease-out infinite alternate;
-webkit-animation: float 5s ease-out infinite alternate;
}
@keyframes float {
				from {
					transform: translateX(15em);
					opacity: 1;
				}
				to {
					opacity: 0;
				}
			}
			
			@-moz-keyframes float {
				from {
					transform: translateX(15em);
					-moz-transform: translateX(15em);
					opacity: 1;
					-moz-opacity: 1;
				}
				to {
					opacity: 0;
					-moz-opacity: 0;
				}
			}
			
			@-webkit-keyframes float {
				from {
					transform: translateX(15em);
					-webkit-transform: translateX(15em);
					opacity: 1;
					-webkit-opacity: 1;
				}
				to {
					opacity: 0;
					-webkit-opacity: 0;
				}
			}


.cnblogs_code span{
font-size:16px !important;
}